@import 'config.css';

.root {
	position: relative;
	padding-bottom: 10px;
	padding-top: 10px;
	box-shadow:
		0 1px 0 0 var(--color-border),
		0 1px 0 0 var(--color-border) inset;

	& * {
		visibility: inherit !important;
	}

	@media (--mobile) {
		padding-bottom: 5px;
	}
}

.root,
.container {
	clear: fix;
}

