@import 'config.css';

.root {
	display: block;
	position: relative;
	padding-right: 20px;
}

.root.removeable {
	padding-right: 40px;
	position: relative;
}

.value {
	display: block;
}

.edit {
	size: 18px 24px;
	display: block;
	position: absolute 50% 0 * *;
	margin-top: -12px;

	@nest .removeable & {
		right: 20px;
	}
}

.icon {
	height: 18px;
	fill: var(--color-text-faint);
	display: block;
	cursor: pointer;
	position: absolute 50% * * 50%;
	transform: translate(-50%, -50%);
	transition: fill .3s ease 0s;

	@nest .edit:hover & {
		fill: var(--color-highlighted);
	}

	@nest .remove:hover & {
		fill: var(--color-error);
	}
}

.input {
	border-radius: 4px;
	border: 1px solid;
	border-color: var(--color-border-light);
	line-height: inherit;
	font-size: inherit;
	padding: 0 5px;
	outline: 0;
}

.remove {
	size: 18px 24px;
	display: block;
	position: absolute 0 0 * *;
}

