@import 'config.css';

.root {
	cursor: pointer;
	float: right;
	position: relative;
	size: 18px 24px;
}

.icon {
	cursor: pointer;
	display: block;
	margin-top: 1px;
	height: 18px;
	transition: fill .3s ease 0s;
	position: absolute 50% 50%;
	transform: translate(-50%, -50%);
	fill: var(--color-text-faint);

	@nest .root:hover & {
		fill: var(--color-error);
	}
}
