@import 'config.css';

.root {
	all: initial;
	display: none;

	@media (--tablet-horizontal-max) {
		size: 55px;
		z-index: 200;
		display: block;
		cursor: pointer;
		position: absolute 0 -55px * *;
		background-color: var(--color-border);
		transition: transform .3s ease 0s, background-color .3s ease 0s;
		will-change: transform, background-color;

		&:hover {
			background-color: var(--color-highlighted);
		}

		&.open {
			box-shadow: -1px 0 0 0 var(--color-border-light);
			transform: translateX(-100%);
		}
	}
}

.line {
	size: 17px 2px;
	background-color: var(--color-text);
	position: absolute 50% * * 50%;
	transform: translate(-50%, -50%);
	transition: opacity .3s ease 0s, transform .3s ease 0s, background-color .3s ease 0s;
	will-change: opacity, transform, background-color;

	&:first-child {
		margin-top: -6px;
	}

	&:last-child {
		margin-top: 6px;
	}

	@nest .root:hover & {
		background-color: #ffffff;
	}
}

.open .line {
	&:first-child {
		transform: rotate(-45deg) translate(-50%, -50%);
		margin-left: -2px;
	}

	&:nth-child(2) {
		opacity: 0;
	}

	&:last-child {
		transform: rotate(45deg) translate(-50%, -50%);
		margin-left: -3px;
	}
}
