@import 'config.css';

.root {
	@media (--tablet-vertical-min) {
		float: left;
		width: 140px;

		&:not(:nth-child(2n)) {
			margin-right: 20px;
		}

		&:not(:first-child, :nth-child(2)) {
			margin-top: 18px;
		}
	}

	@media (--mobile) {
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

.button {
	border-radius: 0;
	display: block;
	size: 100% 27px;
	border-radius: 4px;
	border: 1px solid;
	border-color: var(--color-border);
	background-color: transparent;
	outline: 0;
	padding: 0;
	text: center 11px nowrap;
	color: var(--color-text-faint);
	cursor: pointer;
	transition: color .3s ease 0s, border-color .3s ease 0s;
	will-change: color, border-color;

	&:hover {
		color: var(--color-highlighted);
		border-color: var(--color-highlighted);
	}
}
