@import 'config.css';

.root {
	margin: 22px 0 20px;
	overflow: hidden;
}

.caption {
	color: var(--color-text-faint);
	text-transform: uppercase;
	margin-right: 5px;
	float: left;
}

.value {
	display: block;
	overflow: hidden;
	color: var(--color-text);
}

.root,
.caption,
.value {
	text: 12px 1.2;
}
