@import 'config.css';

.root {
	size: 100% 24px;
	position: relative;

	@media (--mobile) {
		border-top: 1px solid var(--color-border);
		height: 25px;

		&:last-of-type {
			height: 26px;
			border-bottom: 1px solid var(--color-border);
		}
	}
}

.checkbox,
.radio,
.select {
	padding-left: 25px;

	&::before {
		content: '';
		position: absolute 5px * * 0;
	}
}

.checkbox::before {
	size: 12px;
	border: 1px solid;
	border-color: var(--color-border);
}

.radio::before {
	size: 12px;
	border-radius: 100%;
	border: 1px solid;
	border-color: var(--color-border);
}

.select::before {
	size: 8px;
	top: 8px;
	left: 3px;
	border-radius: 100%;
	background-color: var(--color-border);
}

.root .editable {
	min-height: 24px;
	max-width: 100%;
	position: relative;
	padding-right: 40px;
}

.input {
	border-radius: 4px;
	border: 1px solid;
	border-color: var(--color-border-light);
	color: var(--color-text-faint);
	size: calc(100% + 6px) 24px;
	padding: 0 5px;
	margin-left: -6px;
	text: 12px 24px nowrap;
}

.value {
	color: var(--color-text-faint);
	text: 12px 24px nowrap;
	overflow: hidden;
}
