@import 'config.css';

.root {
	width: 100%;
	max-width: 100%;
	min-height: 120px;
	padding: 9px;
	border-radius: 4px;
	border: 1px solid;
	border-color: var(--color-border);
	text: 11px 12px;
	color: var(--color-text-faint);
}
