@import 'config.css';

.root {
	margin: 0;
	size: 100% 55px;
	padding: 0 20px;
	overflow: hidden;
	color: var(--color-text);
	text: 700 15px 15px nowrap;
	background-color: var(--color-border);

	@media (--tablet-horizontal-max) {
		padding-right: 70px;
	}
}

.editable {
	height: 55px;
	padding-right: 34px;
	position: relative;
}

.value {
	color: var(--color-text);
	text: 700 15px 55px nowrap;
	overflow: hidden;
}

.input {
	size: calc(100% + 6px) 55px;
	border-radius: 4px;
	border: 1px solid;
	border-color: var(--color-border-light);
	color: var(--color-text);
	padding: 0 5px;
	margin-left: -6px;
	text: 700 15px 55px nowrap;
}

.icon {
	height: 18px;
	fill: var(--color-text);
	display: block;
	cursor: pointer;
	position: absolute 50% * * 50%;
	transform: translate(-50%, -50%);
	transition: fill .3s ease 0s;

	&:hover {
		fill: var(--color-highlighted);
	}
}
