@import 'config.css';

.root {
	float: left;
	width: 315px;
	min-height: 24px;
	padding-right: 5px;
	box-shadow: 1px 0 0 0 var(--color-border);

	@media (--mobile) {
		padding-right: 0;
		margin-bottom: 5px;
		width: 100%;
		box-shadow: none;
	}
}

.editable {
	max-width: 100%;
	position: relative;
	padding-right: 20px;
	min-height: 24px;

	@media (--mobile) {
		padding-left: 35px;
		padding-right: 18px;

		&::before {
			content: 'Title: ';
			color: var(--color-text);
			text: 12px 24px nowrap;
			position: absolute 0 * * 0;
		}
	}
}

.value {
	color: var(--color-text);
	text: 12px 24px;
	overflow: hidden;

	@nest .required &::after {
		content: ' *';
		display: inline;
		color: #ff0000;
	}
}

.input {
	border-radius: 4px;
	border: 1px solid;
	border-color: var(--color-border-light);
	color: var(--color-text);
	size: calc(100% + 6px) 24px;
	padding: 0 5px;
	margin-left: -6px;
	text: 12px 24px nowrap;
}
