@import 'config.css';

.root {
	float: left;
	size: 325px 24px;
	overflow: hidden;
	padding-right: 20px;

	@media (--mobile) {
		padding-right: 20px;
		margin-bottom: 5px;
		width: 100%;
	}
}

.editable {
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-right: 18px;
	overflow: hidden;
	height: 24px;

	@media (--mobile) {
		padding-left: 30px;
		padding-right: 18px;

		&::before {
			content: 'Title: ';
			color: var(--color-text);
			text: 11px 24px nowrap;
			position: absolute 0 * * 0;
		}
	}
}

.value {
	color: var(--color-text);
	text: 11px 24px nowrap;
	overflow: hidden;

	@nest .required &::after {
		content: ' *';
		display: inline;
		color: #ff0000;
	}
}

.input {
	border-radius: 4px;
	border: 1px solid;
	border-color: var(--color-border-light);
	color: var(--color-text);
	size: 100% 24px;
	padding: 0 7px;
	text: 11px 24px nowrap;
}
